


/* 
#btn-vazio, #btn-final, #btn-torneira {
   border: none;
   background-color: white;
}

 #btn-torneira:active {
    transform: translateY(5px);
}

#btn-vazio:active{ 
    transform: translateY(5px);
}




virar esquerda    transform: rotateY(180deg); 




.progress-bar{

    --progress: 50;
    height: 50px;
    padding: 5px;
    background-color: #ccc;
    display: flex;
  }
  
  .progress-bar::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
     
    width: calc(var(--progress) * 1%);
    background-color: red;
}

 */